name: dev-sql-traning

services:
  db-sql-challange:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: desafio-db
    user: root
    cap_add:
      - SYS_PTRACE
    environment:
      - ACCEPT_EULA=1
      - MSSQL_SA_PASSWORD=Tivit&DioDesafio123!
    ports:
      - "1433:1433"
    volumes:
      - ./scriptsFilmes.sql:/docker-entrypoint-initdb.d/init.sql
      - ./sql_data:/var/opt/mssql/data
    networks:
      - dio-sql-training
  
  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: desafio-beaver
    restart: always
    ports:
      - "8978:8978"
    volumes:
      - ./beaver_data:/opt/cloudbeaver/workspace
    networks:
      - dio-sql-training

networks:
  dio-sql-training:
