name: dev-sql-traning

services:
  db-sql-challange:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: desafio-db
    cap_add:
      - SYS_PTRACE
    environment:
      - ACCEPT_EULA=1
      - MSSQL_SA_PASSWORD=Tivit&DioDesafio123!
    ports:
      - "1433:1433"
    volumes:
      - ./scriptsFilmes.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - dio-sql-training
  
  adminer:
    image: adminer
    container_name: desafio-adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - dio-sql-training

networks:
  dio-sql-training:
